<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
    <h3 class="mb2">About me</h3>
    <p>
      Молодой и трудолюбивый разработчик, нахожу решения в любых ситуациях. Люблю сложные математические алгоритмы.
      Основной стэк - Ruby on Rails. В дополнение к этому использую Bash, Go. Был опыт разработки на С/С++/С#/Java.

      <br>
      Иcпользуемые технологии:
      <br>
      * Elasticsearch
      <br>
      * Redis
      <br>
      * RabbitMQ
      <br>
      * Jenkins
      <br>
      * Ansible
      <br>
      <br>
      В качестве стэка frontend на данный момент использую html, css, js. Изучаю React.
      <br>
      <br>
      Опыт работы:
      <br>
      <a href="{{ site.r-style-softlab_url }}?ref=zhurinvlad-home" target="_blank">R-style Softlab</a>
      <br>
      <a href="{{ site.poloniumarts_url }}?ref=zhurinvlad-home" target="_blank">PoloniumArts</a>
      <br>
      <a href="{{ site.payler_url }}?ref=zhurinvlad-home" target="_blank">Payler</a>
      <br>
      Наброски моего кода можно глянуть на <a href="{{ site.jsfiddle_url }}?ref=zhurinvlad-home" target="_blank">JsFiddle</a> и <a href="{{ site.repo_url }}?ref=zhurinvlad-home" target="_blank">GitHub</a> :) 

    </p>  
  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Contact</h3>
    {% include contact.html %}
  </div>  
</div>
