{% capture work_title_element %}{% if include.work_title_element %}{{ include.work_title_element }}{% else %}h2{% endif %}{% endcapture %}
<div class="mxn2 clearfix mb2 py3{% unless include.exclude_divider %} border-bottom border-light-gray circle-line {% endunless %}">
  <div class="col sm-col-4 px2 mb2">
    <a href="{{ include.work.url }}" target="_blank">
      {% capture image_path %}works/{{ include.work.image }}{% endcapture %}
      {% include image.html path=image_path alt=include.work.name %}
    </a>
  </div>
  <div class="col sm-col-8 px2">
    <a href="{{ include.work.url }}" target="_blank" name="{{ include.work.name | downcase | replace:' ','-' | remove:',' }}"><{{ work_title_element }} class="mt0 mb0">{{ include.work.name }}</{{ work_title_element }}></a>{{ include.work.date_from }} — {{ include.work.date_to }}<sup> {{ include.work.working }}</sup>
    <a href="{{ include.work.url }}" target="_blank" class="block h6 mb2">{{ include.work.url }}</a>
    <p class="left-align">{{ include.work.description }}</p>
  </div>
</div>